@import '@styles/variables.scss';
.wrapper {
  margin: 0 auto;
  width: 80%;
  text-align: center;

  .title {
    font-size: 32px;
    color: $black;
    font-weight: 400;
  }

  .new-post {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      padding: 0 30px;
      height: 65px;
      border-bottom: 1px solid $black-light;

      &-input {
        flex-grow: 1;
        font-size: 26px;
        font-weight: 300;
        color: $black;
        outline: 0;
        border: none;

        &::placeholder {
          font-size: 26px;
          font-weight: 300;
          color: $grey;
        }
      }

      &-remove {
        height: 30px;
        width: 30px;
        color: $grey;
        cursor: pointer;

        transition:
          transform,
          color 0.2s ease;
        &:hover {
          color: $black-light;
          transform: scale(1.3);
          filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        }
      }
    }

    &__image {
      text-align: left;

      .uploading {
        padding: 20px 50px;
        outline: none;
        border: none;
        color: $black;
        font-size: 18px;
        font-weight: 400;
        background-color: $grey-light;
        border: 1px solid $white-dark;
        border-radius: 8px;
        cursor: pointer;
        transition: border-color 0.2s ease-in;

        &:hover {
          border-color: $black-light;
        }
      }

      .preview {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        margin: 30px 0;
        width: 100%;
        border: 1px solid $white-dark;

        &__image {
          object-fit: cover;
          max-width: 600;
          max-height: 300px;
        }

        &__removing {
          padding: 20px 50px;
          outline: none;
          border: none;
          color: $black;
          font-size: 18px;
          font-weight: 400;
          background-color: $grey-light;
          border: 1px solid $white-dark;
          border-radius: 8px;
          cursor: pointer;
          transition: border-color 0.2s ease-in;

          &:hover {
            border-color: $black-light;
          }
        }
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      min-height: 65px;
      padding: 0 30px;
      font-size: 20px;
      font-weight: 300;
      color: $black;
      outline: 0;
      border: 1px solid $black-light;

      .tags-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        flex-wrap: wrap;
        gap: 15px;
        list-style: none;

        .single-tag {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 0px 10px;
          border-radius: 20px;
          background-color: $grey-light;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          color: $black-light;

          &__remove {
            width: 24px;
            height: 24px;
            color: $grey;

            cursor: pointer;
            transition:
              transform,
              color 0.2s ease;
            &:hover {
              color: $black-light;
              transform: scale(1.3);
              filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            }
          }

          &:last-child {
            margin-right: 30px;
          }
        }
      }

      .tags-input {
        flex: 1;
        height: 65px;
        outline: 0;
        border: none;
        font-size: 20px;
        font-weight: 300;
        &::placeholder {
          padding: 0;
          font-size: 20px;
          font-weight: 300;
          color: $grey;
        }
      }
    }

    &__text-editor {
      margin: 30px 0;
      text-align: left;
      border: 1px solid $black-light;

      :global {
        .CodeMirror-lines {
          font-size: 18px;
          font-family: $font-roboto;
          font-weight: 300;
          background-color: $white;
        }
      }
    }
  }

  .button {
    padding: 20px 50px;
    width: auto;
  }
  .errors {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    background-color: $grey-light;
    border: 1px solid $black-light;

    .error {
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 8px;
      text-align: left;
      color: $red;
      font-size: 16px;
      font-weight: 300;
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
