@import '@styles/variables.scss';

.sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 30px;
  row-gap: 10px;

  &__item {
    font-size: 18px;
    font-weight: 300;
    color: $grey;

    transition: color ease-in 0.25s;

    &:hover {
      color: $black-light;
      cursor: pointer;
    }

    &-selected {
      color: $black-light;
      font-weight: 400;
    }
  }

  &::after {
    content: '';
    flex-basis: 100%;
    height: 0;
    border-bottom: 1px solid $white-dark;
    margin-top: 1rem;
  }
}
