@import '@styles/variables.scss';

.page-wrapper {
  margin: 0 auto;
  .post {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    &__title {
      color: $black;
      font-size: 28px;
      font-weight: 400;
    }

    &__info {
      width: 100%;
    }
    &__text {
      color: $black;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.5;
      text-align: left;
      white-space: pre-wrap;
      overflow: hidden;
      word-wrap: break-word;
      min-width: 0;
    }
  }
}
