@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$grey: #757575;
$grey-light: #f2f2f2;
$black: #191919;
$black-light: #292929;
$white: #ffffff;
$white-dark: #e6e6e6;
$white-red: #fdecea;
$red: #ef4a3c;

$font-roboto: 'Roboto', sans-serif;
