@import '@styles/variables.scss';

.post-wrapper {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0px;

  .post-data {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;

    .post-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      &__author-avatar {
        object-fit: cover;
        width: 55px;
        height: 55px;
        border-radius: 50%;
      }

      &__author-name {
        font-size: 18px;
        color: $black;
      }

      &__time-data {
        font-size: 18px;
        color: $black;
        flex-grow: 1;
      }
      .action-bar {
        display: flex;
        flex-direction: row;
        gap: 5px;
        &__icon {
          width: 24px;
          height: 24px;
          fill: $grey;
          cursor: pointer;
          transition: fill 0.25s ease;

          &:hover {
            fill: $black-light;
          }
        }
      }
    }

    .post-main {
      margin-top: 15px;
      justify-self: start;
      text-decoration: none;

      &__title {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        color: $black;
        margin-bottom: 15px;

        transition: color ease-in 0.2s;
        &:hover {
          color: $grey;
        }
      }

      &__text {
        max-height: 3.9em;
        line-height: 1.3em;
        overflow: hidden;

        font-weight: 300;
        font-size: 16px;
        color: $black-light;
        word-wrap: break-word;

        transition: color ease-in 0.2s;
        &:hover {
          color: $grey;
        }
      }
    }

    .post-meta {
      margin-top: 0px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-items: center;
      .tags-wrapper {
        justify-self: start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;

        .tag {
          padding: 5px 8px;
          border-radius: 10px;
          background-color: $grey-light;
          color: $black-light;
          font-size: 13px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      .views {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        &__image {
          width: 20px;
          height: 20px;
          color: $black-light;
        }
        &__count {
          font-weight: 300;
          font-size: 13;
          color: $black-light;
        }
      }
    }
  }

  .post-image {
    object-fit: contain;
    width: 100%;
    height: 270px;
  }
}
