@import '@styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .main-content {
    width: 100%;

    .sort-wrapper {
      width: 90%;
      margin: 30px auto;
    }

    .post-wrapper {
      max-width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-content: center;
      margin: 0 auto;
      gap: 30px;

      > :not(:last-child)::after {
        content: '';
        width: 100%;
        grid-column: span 2;

        border-bottom: 1px solid $white-dark;
        margin-top: 1rem;
      }

      .post__tag {
        font-weight: 400;
        font-size: 26px;
        & > span {
          padding: 10px 16px;
          border-radius: 20px;
          background-color: $grey-light;
          // font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;
          color: $black-light;
        }
      }
    }
  }
  .side-content {
    position: sticky;
    top: 0;
    align-self: start;
    height: 100vh;
    border-left: 1px solid $white-dark;

    .tags-wrapper {
      margin: 10px 15px;
    }
  }

  .section-title {
    font-size: 24px;
    font-weight: 300;
  }
}
