@import '@styles/variables.scss';

.container {
  // position: fixed;
  position: sticky;
  height: 100vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $white;
  border-right: 1px solid $white-dark;

  .item {
    margin: 0 auto;

    &__logo {
      margin-top: 30px;
      width: 50px;
    }

    &__user-avatar {
      margin-bottom: 30px;
      object-fit: cover;
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }

    &__icon {
      fill: $grey;
      width: 24px;
      height: 24px;
      margin: 0 auto;

      transition: fill 0.25s ease;

      &:hover {
        fill: $black-light;
      }

      &-text {
        margin-top: 5px;

        font-size: 16px;
        text-transform: lowercase;
        color: $grey;

        transition: color 0.25s ease;

        &:hover {
          color: $black;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      .action {
        text-align: center;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
