@import '@styles/variables.scss';

.form-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 360px;

  .form-title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }

  .form {
    display: grid;
    row-gap: 15px;

    .button {
      margin-top: 25px;
    }
  }
}
